@charset "UTF-8";


body, ul, li ,div{
	margin:0;
	padding:0;
}

div{
	border: 2px solid;
}

#qna,#topic{
	float:left;
}
#infos{
	float:none;
}

div #qna{
	width: 440px;
	height: 400px;
	background: #dcd;
}

div #topic{
	width: 220px;
	height: 400px;
	background: #8cb;
}